*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.gridWrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 450px 450px 450px 100px;  
    grid-template-areas:
    "na he he he"
    "s1 s1 s1 s1"
    "s2 s2 s2 s2"
    "s3 s3 s3 s3"
    "fo fo fo fo"
    ;
    background-color: #CD0C0C;
}
.header{
    grid-area: he;
}
.buratinologga{
    width: 100%;
    height: 100%;
}


.nav{
    grid-area: na;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #B30B0B;
    font-family: sans-serif;
    width: 22.5%;
    border-radius: 0% 0% 20% 0% ;
    position: fixed;
    top: 0px;
    left: 0px;
}
.navlinks{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    left: 0px;
    height: 100vh;
    background-color: #B30B0B;
    align-items: center;
    width: 22.5vw;
    top: 0vh;
    transition: all 0.5s;

}
.navactive{
    transform: translateX(-22.5vw);
}
.navlinks li{
    list-style: none;
    background-color: none;
}
.navlinks a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
}
.burger div{
    width: 50px;
    height: 7px;
    background-color: white;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
    border-radius: 3px;
}
.toggle .line1{
    transform: translateX(-3.5vw);
    opacity: 0;
}
.toggle .line2{
    transform: rotate(-180deg);
}
.toggle .line3{
    transform: translate(3.5vw);
    opacity: 0;
}



.section1{
    grid-area: s1;
    color: white;
    background-color: #CD0C0C;
    margin: 15px;
    margin-top: 30px;
    font-size: 17px;
    font-family: 'Sen', sans-serif;
}
.texts1{
    margin-top: 15px;
}
.snyggscen{
    width: 100%;
    height: 40%;
    border-radius: 5px;
    margin-top: 20px;
}
.section2{
    grid-area: s2;
    color: white;
    background-color: #CD0C0C;
    font-size: 17px;
    font-family: 'sen', sans-serif;
}
.texts2{
    margin: 15px;
    font-family: 'Sen', sans-serif;
}
.swishtext{
    margin: 15px;
    margin-top: 30px;
    font-weight: 900;
}
.swish{
    margin: 15px;
    width: 90%;
    height: 30%;
    border-radius: 5px;
}
.section3{
    grid-area: s3;
    color: white;
    background-color: #CD0C0C;
    font-family: 'Sen', sans-serif;
    font-size: 17px;
    font-weight: bold;
}
.footer{
    display: flex; 
    justify-content: center;
    align-items: center;
    grid-area: fo;
    color: white;
    background-color: #B30B0B;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Sen', sans-serif;

}
.hem{
    margin-top: 100px;
}
.kontakt{
    margin-bottom: 100px;
}
